[global_tags]
  service = "<%= spec.deployment.sub(/-[0-9a-f]{20}$/, '') %>"
  node_type = "<%= spec.name %>"
  instance = "<%= spec.index %>"
  az = "<%= spec.az %>"
  <% if_p("telegraf.tags") do |tags| tags.each do |tag, value| %>
  <%= tag %> = "<%= value %>"
  <% end; end %>

[agent]
  interval = "10s"
  flush_interval = "10s"
  round_interval = true
  #flush_jitter = "15s"

[[outputs.influxdb]]
  urls = ["<%= p("telegraf.influxdb.url") %>"]
  database = "<%= p("telegraf.influxdb.database") %>"
  retention_policy = "<%= p("telegraf.influxdb.retention_policy") %>"
  username = "administrator"
  password = "godhelpme"

[[inputs.cpu]]
  percpu = false
  totalcpu = true
[[inputs.disk]]
  # Limit to BOSH specific mount points
  mount_points = ["/", "/var/vcap/data", "/var/vcap/store"]
[[inputs.diskio]]
  # individual partitions can be reported using "sda1" syntax
  devices = ["sda", "sdb", "sdc", "xvda", "xvdb", "xvdc"]
[[inputs.kernel]]
[[inputs.mem]]
[[inputs.processes]]
[[inputs.swap]]
[[inputs.system]]
[[inputs.net]]
  # interface "all" used for system wide ip/tcp/udp/icmp stats
  # explicitly list interface "eth0" to avoid including bridged interfaces
  interfaces = ["all", "eth0"]
[[inputs.netstat]]
[[inputs.nstat]]
  # Disable IPv6
  proc_net_snmp6 = "/dev/null"
  dump_zeros = true
<% if_p("telegraf.consul.ip_address") do |ip_address| %>
[[inputs.consul]]
  ## Consul server address
  address = "<%= ip_address %>"
  ## URI scheme for the Consul server, one of "http", "https"
  scheme = "http"
<% end %>
